<a href="https://colab.research.google.com/github/dikshasharma97/new/blob/main/Copy_of_New_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [2]:
d_train = pd.read_csv('/content/train_dK8Auve.csv')
d_test = pd.read_csv('/content/test_UyrvqPb.csv')

In [3]:
d_train

              ID  Office_PIN  ... Manager_Num_Products2  Business_Sourced
0     FIN1000001      842001  ...                  28.0                 0
1     FIN1000002      842001  ...                  28.0                 1
2     FIN1000003      800001  ...                  24.0                 0
3     FIN1000004      814112  ...                  22.0                 0
4     FIN1000005      814112  ...                  17.0                 0
...          ...         ...  ...                   ...               ...
9522  FIN1009523      160017  ...                   0.0                 0
9523  FIN1009524      848101  ...                   NaN                 0
9524  FIN1009525      753012  ...                   8.0                 0
9525  FIN1009526      575003  ...                   0.0                 0
9526  FIN1009527      411006  ...                   NaN                 0

[9527 rows x 23 columns]

In [4]:
d_test

              ID  Office_PIN  ... Manager_Business2  Manager_Num_Products2
0     FIN1009528      284001  ...               0.0                    0.0
1     FIN1009529      800001  ...               0.0                    0.0
2     FIN1009530      800001  ...               NaN                    NaN
3     FIN1009531      800001  ...               NaN                    NaN
4     FIN1009532      533101  ...           97352.0                    3.0
...          ...         ...  ...               ...                    ...
5040  FIN1014568      691008  ...               0.0                    0.0
5041  FIN1014569      691008  ...               0.0                    0.0
5042  FIN1014570      691008  ...               0.0                    0.0
5043  FIN1014571      208001  ...           15347.0                    1.0
5044  FIN1014572      122002  ...               0.0                    0.0

[5045 rows x 22 columns]

In [5]:
d_train.shape

(9527, 23)

In [6]:
d_test.shape

(5045, 22)

In [7]:
d_train.dtypes

ID                              object
Office_PIN                       int64
Application_Receipt_Date        object
Applicant_City_PIN             float64
Applicant_Gender                object
Applicant_BirthDate             object
Applicant_Marital_Status        object
Applicant_Occupation            object
Applicant_Qualification         object
Manager_DOJ                     object
Manager_Joining_Designation     object
Manager_Current_Designation     object
Manager_Grade                  float64
Manager_Status                  object
Manager_Gender                  object
Manager_DoB                     object
Manager_Num_Application        float64
Manager_Num_Coded              float64
Manager_Business               float64
Manager_Num_Products           float64
Manager_Business2              float64
Manager_Num_Products2          float64
Business_Sourced                 int64
dtype: object

In [8]:
d_train.columns

Index(['ID', 'Office_PIN', 'Application_Receipt_Date', 'Applicant_City_PIN',
       'Applicant_Gender', 'Applicant_BirthDate', 'Applicant_Marital_Status',
       'Applicant_Occupation', 'Applicant_Qualification', 'Manager_DOJ',
       'Manager_Joining_Designation', 'Manager_Current_Designation',
       'Manager_Grade', 'Manager_Status', 'Manager_Gender', 'Manager_DoB',
       'Manager_Num_Application', 'Manager_Num_Coded', 'Manager_Business',
       'Manager_Num_Products', 'Manager_Business2', 'Manager_Num_Products2',
       'Business_Sourced'],
      dtype='object')

In [9]:
d_train.describe

<bound method NDFrame.describe of               ID  Office_PIN  ... Manager_Num_Products2  Business_Sourced
0     FIN1000001      842001  ...                  28.0                 0
1     FIN1000002      842001  ...                  28.0                 1
2     FIN1000003      800001  ...                  24.0                 0
3     FIN1000004      814112  ...                  22.0                 0
4     FIN1000005      814112  ...                  17.0                 0
...          ...         ...  ...                   ...               ...
9522  FIN1009523      160017  ...                   0.0                 0
9523  FIN1009524      848101  ...                   NaN                 0
9524  FIN1009525      753012  ...                   8.0                 0
9525  FIN1009526      575003  ...                   0.0                 0
9526  FIN1009527      411006  ...                   NaN                 0

[9527 rows x 23 columns]>

In [10]:
d_train['Applicant_BirthDate']=pd.to_numeric(pd.to_datetime(d_train['Application_Receipt_Date'],format='%m/%d/%Y'))
d_train['Application_Receipt_Date']=pd.to_numeric(pd.to_datetime(d_train['Application_Receipt_Date'],format='%m/%d/%Y'))
d_train['Manager_DOJ']=pd.to_numeric(pd.to_datetime(d_train['Manager_DOJ'],format='%m/%d/%Y'))
d_train['Manager_DoB']=pd.to_numeric(pd.to_datetime(d_train['Manager_DoB'],format='%m/%d/%Y'))

In [11]:
d_test['Applicant_BirthDate']=pd.to_numeric(pd.to_datetime(d_test['Application_Receipt_Date'],format='%m/%d/%Y'))
d_test['Application_Receipt_Date']=pd.to_numeric(pd.to_datetime(d_test['Application_Receipt_Date'],format='%m/%d/%Y'))
d_test['Manager_DOJ']=pd.to_numeric(pd.to_datetime(d_test['Manager_DOJ'],format='%m/%d/%Y'))
d_test['Manager_DoB']=pd.to_numeric(pd.to_datetime(d_test['Manager_DoB'],format='%m/%d/%Y'))

In [12]:
d_train.dtypes

ID                              object
Office_PIN                       int64
Application_Receipt_Date         int64
Applicant_City_PIN             float64
Applicant_Gender                object
Applicant_BirthDate              int64
Applicant_Marital_Status        object
Applicant_Occupation            object
Applicant_Qualification         object
Manager_DOJ                      int64
Manager_Joining_Designation     object
Manager_Current_Designation     object
Manager_Grade                  float64
Manager_Status                  object
Manager_Gender                  object
Manager_DoB                      int64
Manager_Num_Application        float64
Manager_Num_Coded              float64
Manager_Business               float64
Manager_Num_Products           float64
Manager_Business2              float64
Manager_Num_Products2          float64
Business_Sourced                 int64
dtype: object

In [13]:
new_train = d_train.copy()

In [14]:
new_train

              ID  Office_PIN  ...  Manager_Num_Products2  Business_Sourced
0     FIN1000001      842001  ...                   28.0                 0
1     FIN1000002      842001  ...                   28.0                 1
2     FIN1000003      800001  ...                   24.0                 0
3     FIN1000004      814112  ...                   22.0                 0
4     FIN1000005      814112  ...                   17.0                 0
...          ...         ...  ...                    ...               ...
9522  FIN1009523      160017  ...                    0.0                 0
9523  FIN1009524      848101  ...                    NaN                 0
9524  FIN1009525      753012  ...                    8.0                 0
9525  FIN1009526      575003  ...                    0.0                 0
9526  FIN1009527      411006  ...                    NaN                 0

[9527 rows x 23 columns]

In [15]:
new_test = d_test.copy()

In [16]:
new_train = new_train.drop(['ID','Applicant_Gender','Applicant_Marital_Status','Applicant_Occupation','Manager_Joining_Designation','Applicant_Qualification','Manager_Status','Manager_Gender'],axis=1)

In [17]:
new_train.dtypes

Office_PIN                       int64
Application_Receipt_Date         int64
Applicant_City_PIN             float64
Applicant_BirthDate              int64
Manager_DOJ                      int64
Manager_Current_Designation     object
Manager_Grade                  float64
Manager_DoB                      int64
Manager_Num_Application        float64
Manager_Num_Coded              float64
Manager_Business               float64
Manager_Num_Products           float64
Manager_Business2              float64
Manager_Num_Products2          float64
Business_Sourced                 int64
dtype: object

In [18]:
new_train['Manager_Current_Designation'] = new_train['Manager_Current_Designation'].fillna('Level 1')

In [19]:
a = {'Level 1' : 1,'Level 2': 2,'Level 3': 3, 'Level 4' : 4, 'Level 5': 5}

In [20]:
new_train['Manager_Current_Designation'] = [a[i] for i in new_train['Manager_Current_Designation']]

In [21]:
new_train.dtypes

Office_PIN                       int64
Application_Receipt_Date         int64
Applicant_City_PIN             float64
Applicant_BirthDate              int64
Manager_DOJ                      int64
Manager_Current_Designation      int64
Manager_Grade                  float64
Manager_DoB                      int64
Manager_Num_Application        float64
Manager_Num_Coded              float64
Manager_Business               float64
Manager_Num_Products           float64
Manager_Business2              float64
Manager_Num_Products2          float64
Business_Sourced                 int64
dtype: object

In [22]:
#new_train['Manager_Current_Designation']

In [23]:
new_train.isnull().sum()

Office_PIN                       0
Application_Receipt_Date         0
Applicant_City_PIN              97
Applicant_BirthDate              0
Manager_DOJ                      0
Manager_Current_Designation      0
Manager_Grade                  683
Manager_DoB                      0
Manager_Num_Application        683
Manager_Num_Coded              683
Manager_Business               683
Manager_Num_Products           683
Manager_Business2              683
Manager_Num_Products2          683
Business_Sourced                 0
dtype: int64

In [24]:
new_train = new_train.dropna(subset=['Applicant_City_PIN','Manager_Grade','Manager_Num_Application','Manager_Num_Coded','Manager_Business','Manager_Num_Products'],axis=0)

In [25]:
new_train

      Office_PIN  ...  Business_Sourced
0         842001  ...                 0
1         842001  ...                 1
2         800001  ...                 0
3         814112  ...                 0
4         814112  ...                 0
...          ...  ...               ...
9519      250001  ...                 0
9521      814112  ...                 0
9522      160017  ...                 0
9524      753012  ...                 0
9525      575003  ...                 0

[8764 rows x 15 columns]

In [26]:
new_train.isnull().sum()

Office_PIN                     0
Application_Receipt_Date       0
Applicant_City_PIN             0
Applicant_BirthDate            0
Manager_DOJ                    0
Manager_Current_Designation    0
Manager_Grade                  0
Manager_DoB                    0
Manager_Num_Application        0
Manager_Num_Coded              0
Manager_Business               0
Manager_Num_Products           0
Manager_Business2              0
Manager_Num_Products2          0
Business_Sourced               0
dtype: int64

In [27]:
new_test = new_test.drop(['ID','Applicant_Gender','Applicant_Marital_Status','Applicant_Occupation','Applicant_Qualification','Manager_Joining_Designation','Manager_Status','Manager_Gender'],axis=1)

In [28]:
#new_train = new_train.drop(['Office_PIN','Manager_Grade'],axis=1)

In [29]:
new_test['Manager_Current_Designation'] = new_test['Manager_Current_Designation'].fillna('Level 0')

In [30]:
b = {'Level 1' : 1,'Level 2': 2,'Level 3': 3, 'Level 4' : 4, 'Level 5': 5, 'Level 0': 0}

In [31]:
new_test['Manager_Current_Designation'] = [b[j] for j in new_test['Manager_Current_Designation']]

In [32]:
new_test = new_test.dropna(subset=['Applicant_City_PIN','Manager_Grade','Manager_Num_Application','Manager_Num_Coded','Manager_Business','Manager_Num_Products','Manager_Business2','Manager_Num_Products2','Manager_Num_Products2'],axis=0)

In [33]:
new_test.isnull().sum()

Office_PIN                     0
Application_Receipt_Date       0
Applicant_City_PIN             0
Applicant_BirthDate            0
Manager_DOJ                    0
Manager_Current_Designation    0
Manager_Grade                  0
Manager_DoB                    0
Manager_Num_Application        0
Manager_Num_Coded              0
Manager_Business               0
Manager_Num_Products           0
Manager_Business2              0
Manager_Num_Products2          0
dtype: int64

In [34]:
new_test.shape

(4209, 14)

In [35]:
new_test.dtypes

Office_PIN                       int64
Application_Receipt_Date         int64
Applicant_City_PIN             float64
Applicant_BirthDate              int64
Manager_DOJ                      int64
Manager_Current_Designation      int64
Manager_Grade                  float64
Manager_DoB                      int64
Manager_Num_Application        float64
Manager_Num_Coded              float64
Manager_Business               float64
Manager_Num_Products           float64
Manager_Business2              float64
Manager_Num_Products2          float64
dtype: object

In [36]:
new_train

      Office_PIN  ...  Business_Sourced
0         842001  ...                 0
1         842001  ...                 1
2         800001  ...                 0
3         814112  ...                 0
4         814112  ...                 0
...          ...  ...               ...
9519      250001  ...                 0
9521      814112  ...                 0
9522      160017  ...                 0
9524      753012  ...                 0
9525      575003  ...                 0

[8764 rows x 15 columns]

In [37]:
train_a=new_train[:7011]
train_b=new_train[7011:]

In [38]:
train_a.tail(1)

      Office_PIN  ...  Business_Sourced
7549      202001  ...                 1

[1 rows x 15 columns]

In [39]:
train_b.head(1)

      Office_PIN  ...  Business_Sourced
7550      416001  ...                 1

[1 rows x 15 columns]

In [40]:
print(train_a.shape)
print(train_b.shape)

(7011, 15)
(1753, 15)

In [41]:
x_train = train_a.drop(['Business_Sourced'],axis=1 )
y_train = train_a.Business_Sourced.copy()
x_test = train_b.drop(['Business_Sourced'],axis=1 )
y_test = train_b.Business_Sourced.copy()

In [42]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier

#reg = DecisionTreeRegressor(random_state=0)

from sklearn.ensemble import GradientBoostingClassifier
clf=GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0).fit(x_train, y_train)
#clf = RandomForestClassifier(n_estimators=500)
clf.fit(x_train,y_train)
pred = clf.predict(x_test)

In [43]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
dt_roc_auc = roc_auc_score(y_test, pred)
print(dt_roc_auc)

0.5194008376940084

0.5482

0.5325

In [44]:
from sklearn.ensemble import GradientBoostingClassifier
clf2 = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0).fit(x_train, y_train)

pred2 = clf2.predict(x_train)

from sklearn.metrics import accuracy_score
print("Accuracy Score = ",accuracy_score(y_train, pred2))

Accuracy Score =  0.682356297247183