In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from scipy import stats
from sklearn.preprocessing import PowerTransformer
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:

d_train = pd.read_csv("C:/Users/diksha.sharma/Downloads/train_dK8Auve (2).csv")
d_test = pd.read_csv("C:/Users/diksha.sharma/Downloads/test_UyrvqPb (1).csv")

In [3]:
d_train

,ID,Office_PIN,Application_Receipt_Date,Applicant_City_PIN,Applicant_Gender,Applicant_BirthDate,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_DOJ,...,Manager_Status,Manager_Gender,Manager_DoB,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced
0,FIN1000001,842001,4/16/2007,844120.0,M,12/19/1971,M,Others,Graduate,11/10/2005,...,Confirmation,M,2/17/1978,2.0,1.0,335249.0,28.0,335249.0,28.0,0
1,FIN1000002,842001,4/16/2007,844111.0,M,2/17/1983,S,Others,Class XII,11/10/2005,...,Confirmation,M,2/17/1978,2.0,1.0,335249.0,28.0,335249.0,28.0,1
2,FIN1000003,800001,4/16/2007,844101.0,M,1/16/1966,M,Business,Class XII,5/27/2006,...,Confirmation,M,3/3/1969,0.0,0.0,357184.0,24.0,357184.0,24.0,0
3,FIN1000004,814112,4/16/2007,814112.0,M,2/3/1988,S,Salaried,Class XII,8/21/2003,...,Confirmation,F,8/14/1978,0.0,0.0,318356.0,22.0,318356.0,22.0,0
4,FIN1000005,814112,4/16/2007,815351.0,M,7/4/1985,M,Others,Class XII,5/8/2006,...,Confirmation,M,2/7/1971,2.0,1.0,230402.0,17.0,230402.0,17.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9522,FIN1009523,160017,7/1/2008,160032.0,M,1/18/1970,M,Salaried,Graduate,5/5/2008,...,Probation,M,5/10/1967,0.0,0.0,0.0,0.0,0.0,0.0,0
9523,FIN1009524,848101,7/1/2008,848302.0,M,9/11/1956,M,NaN,Graduate,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9524,FIN1009525,753012,7/1/2008,753014.0,F,8/7/1975,M,Salaried,Graduate,8/22/2006,...,Confirmation,M,7/22/1970,0.0,0.0,316126.0,9.0,305775.0,8.0,0
9525,FIN1009526,575003,7/1/2008,571248.0,M,12/23/1986,S,Salaried,Class XII,6/5/2008,...,Probation,M,9/23/1976,0.0,0.0,0.0,0.0,0.0,0.0,0
9526,FIN1009527,411006,7/1/2008,411006.0,F,2/7/1976,M,Others,Graduate,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
d_test

,ID,Office_PIN,Application_Receipt_Date,Applicant_City_PIN,Applicant_Gender,Applicant_BirthDate,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_DOJ,...,Manager_Grade,Manager_Status,Manager_Gender,Manager_DoB,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2
0,FIN1009528,284001,7/2/2008,284001.0,M,8/5/1982,S,Salaried,Graduate,5/26/2008,...,2.0,Probation,F,10/14/1978,1.0,0.0,0.0,0.0,0.0,0.0
1,FIN1009529,800001,7/2/2008,800026.0,M,3/11/1968,M,Salaried,Graduate,6/24/2008,...,2.0,Probation,M,3/3/1971,2.0,0.0,0.0,0.0,0.0,0.0
2,FIN1009530,800001,7/2/2008,NaN,M,12/16/1984,S,NaN,Graduate,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FIN1009531,800001,7/2/2008,844112.0,M,6/7/1971,S,Salaried,Graduate,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FIN1009532,533101,7/2/2008,533102.0,M,7/22/1978,S,NaN,Masters of Business Administration,12/4/2007,...,3.0,Confirmation,M,6/23/1977,4.0,1.0,97352.0,3.0,97352.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5040,FIN1014568,691008,1/1/2009,691601.0,F,5/21/1966,M,Others,Graduate,12/2/2008,...,3.0,Probation,M,5/27/1978,0.0,0.0,0.0,0.0,0.0,0.0
5041,FIN1014569,691008,1/1/2009,691601.0,M,12/2/1949,M,Others,Graduate,12/2/2008,...,3.0,Probation,M,5/27/1978,0.0,0.0,0.0,0.0,0.0,0.0
5042,FIN1014570,691008,1/1/2009,691005.0,M,5/20/1977,M,Business,Class XII,12/2/2008,...,3.0,Probation,M,5/27/1978,0.0,0.0,0.0,0.0,0.0,0.0
5043,FIN1014571,208001,1/1/2009,208022.0,M,7/22/1985,M,NaN,Graduate,9/25/2008,...,3.0,Probation,M,6/26/1978,4.0,1.0,15347.0,1.0,15347.0,1.0
5044,FIN1014572,122002,1/1/2009,122001.0,M,5/12/1985,M,NaN,Graduate,12/19/2008,...,3.0,Probation,M,12/29/1983,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
d_train.shape

(9527, 23)

In [6]:
d_test.shape

(5045, 22)

In [7]:
d_test.dtypes

ID                              object
Office_PIN                       int64
Application_Receipt_Date        object
Applicant_City_PIN             float64
Applicant_Gender                object
Applicant_BirthDate             object
Applicant_Marital_Status        object
Applicant_Occupation            object
Applicant_Qualification         object
Manager_DOJ                     object
Manager_Joining_Designation     object
Manager_Current_Designation     object
Manager_Grade                  float64
Manager_Status                  object
Manager_Gender                  object
Manager_DoB                     object
Manager_Num_Application        float64
Manager_Num_Coded              float64
Manager_Business               float64
Manager_Num_Products           float64
Manager_Business2              float64
Manager_Num_Products2          float64
dtype: object

In [8]:
d_test.dtypes

ID                              object
Office_PIN                       int64
Application_Receipt_Date        object
Applicant_City_PIN             float64
Applicant_Gender                object
Applicant_BirthDate             object
Applicant_Marital_Status        object
Applicant_Occupation            object
Applicant_Qualification         object
Manager_DOJ                     object
Manager_Joining_Designation     object
Manager_Current_Designation     object
Manager_Grade                  float64
Manager_Status                  object
Manager_Gender                  object
Manager_DoB                     object
Manager_Num_Application        float64
Manager_Num_Coded              float64
Manager_Business               float64
Manager_Num_Products           float64
Manager_Business2              float64
Manager_Num_Products2          float64
dtype: object

In [9]:
d_train.describe(include='object')

,ID,Application_Receipt_Date,Applicant_Gender,Applicant_BirthDate,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_DOJ,Manager_Joining_Designation,Manager_Current_Designation,Manager_Status,Manager_Gender,Manager_DoB
count,9527,9527,9460,9454,9454,8306,9441,8844,8844,8844,8844,8844,8844
unique,9527,357,2,5836,4,5,11,646,8,5,2,2,1245
top,FIN1006524,5/9/2007,M,1/3/1978,M,Salaried,Class XII,7/9/2007,Level 1,Level 2,Confirmation,M,2/11/1961
freq,1,165,7179,24,6177,3787,5806,106,4632,3208,5277,7627,45

In [10]:
d_test.describe(include='object')

,ID,Application_Receipt_Date,Applicant_Gender,Applicant_BirthDate,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_DOJ,Manager_Joining_Designation,Manager_Current_Designation,Manager_Status,Manager_Gender,Manager_DoB
count,5045,5045,5023,5022,5015,4041,5001,4221,4221,4221,4221,4221,4221
unique,5045,143,2,3792,4,5,8,465,6,5,2,2,895
top,FIN1014198,7/21/2008,M,1/2/1973,M,Salaried,Graduate,8/4/2008,Level 2,Level 3,Probation,M,5/6/1972
freq,1,273,3900,11,4089,2560,3375,150,1441,1530,2292,3694,32

In [11]:
d_train.describe()

,Office_PIN,Applicant_City_PIN,Manager_Grade,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced
count,9527.000000,9430.000000,8844.000000,8844.000000,8844.000000,8.844000e+03,8844.000000,8.844000e+03,8844.000000,9527.00000
mean,452894.372205,456784.547296,3.264134,1.939733,0.758933,1.843710e+05,7.152307,1.829263e+05,7.131275,0.34292
std,235690.618252,239291.081207,1.137449,2.150529,1.188644,2.747163e+05,8.439351,2.718021e+05,8.423597,0.47471
min,110005.000000,110001.000000,1.000000,0.000000,0.000000,-2.652890e+05,0.000000,-2.652890e+05,0.000000,0.00000
25%,226001.000000,226020.000000,2.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.00000
50%,416001.000000,422005.500000,3.000000,1.000000,0.000000,1.021780e+05,5.000000,1.017140e+05,5.000000,0.00000
75%,695014.000000,695017.000000,4.000000,3.000000,1.000000,2.471165e+05,11.000000,2.464612e+05,11.000000,1.00000
max,851101.000000,995657.000000,10.000000,22.000000,9.000000,3.578265e+06,101.000000,3.578265e+06,101.000000,1.00000

In [12]:
d_test.describe()

,Office_PIN,Applicant_City_PIN,Manager_Grade,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2
count,5045.000000,5011.000000,4221.000000,4221.000000,4221.000000,4.221000e+03,4221.000000,4.221000e+03,4221.000000
mean,431478.138751,433049.851527,3.352760,2.521204,1.104951,1.115425e+05,3.864250,9.895073e+04,3.495143
std,230425.779147,231655.574011,0.994504,2.491566,1.473985,1.640698e+05,4.688678,1.469193e+05,4.241165
min,110005.000000,110001.000000,2.000000,0.000000,0.000000,-3.196900e+04,0.000000,-3.196900e+04,0.000000
25%,221010.000000,224141.000000,3.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000
50%,400705.000000,411005.000000,3.000000,2.000000,1.000000,5.002600e+04,2.000000,4.653700e+04,2.000000
75%,641018.000000,641002.000000,4.000000,4.000000,2.000000,1.757620e+05,7.000000,1.537820e+05,6.000000
max,851101.000000,884112.000000,8.000000,17.000000,10.000000,2.196480e+06,31.000000,2.196480e+06,30.000000

# Exploratory Data Analysis

In [13]:
d_train.isnull().sum()

ID                                0
Office_PIN                        0
Application_Receipt_Date          0
Applicant_City_PIN               97
Applicant_Gender                 67
Applicant_BirthDate              73
Applicant_Marital_Status         73
Applicant_Occupation           1221
Applicant_Qualification          86
Manager_DOJ                     683
Manager_Joining_Designation     683
Manager_Current_Designation     683
Manager_Grade                   683
Manager_Status                  683
Manager_Gender                  683
Manager_DoB                     683
Manager_Num_Application         683
Manager_Num_Coded               683
Manager_Business                683
Manager_Num_Products            683
Manager_Business2               683
Manager_Num_Products2           683
Business_Sourced                  0
dtype: int64

In [14]:
d_test.isnull().sum()

ID                                0
Office_PIN                        0
Application_Receipt_Date          0
Applicant_City_PIN               34
Applicant_Gender                 22
Applicant_BirthDate              23
Applicant_Marital_Status         30
Applicant_Occupation           1004
Applicant_Qualification          44
Manager_DOJ                     824
Manager_Joining_Designation     824
Manager_Current_Designation     824
Manager_Grade                   824
Manager_Status                  824
Manager_Gender                  824
Manager_DoB                     824
Manager_Num_Application         824
Manager_Num_Coded               824
Manager_Business                824
Manager_Num_Products            824
Manager_Business2               824
Manager_Num_Products2           824
dtype: int64

In [15]:
d_train.Applicant_Occupation.unique()

array(['Others', 'Business', 'Salaried', 'Self Employed', 'Student', nan],
      dtype=object)

In [16]:
d_train.Applicant_Occupation.fillna("Others",inplace=True)

In [17]:
d_train.Applicant_Occupation.unique()

array(['Others', 'Business', 'Salaried', 'Self Employed', 'Student'],
      dtype=object)

In [18]:
d_train.Applicant_Occupation.isnull().sum()

0

In [19]:
d_train.Applicant_Marital_Status.unique()

array(['M', 'S', nan, 'W', 'D'], dtype=object)

In [20]:
d_train.Applicant_Marital_Status.fillna("Applicant_Marital_StatusMissing",inplace=True)

In [21]:
d_train.Applicant_Marital_Status.unique()

array(['M', 'S', 'Applicant_Marital_StatusMissing', 'W', 'D'],
      dtype=object)

In [22]:
d_train.Applicant_Gender.unique()

array(['M', 'F', nan], dtype=object)

In [23]:
d_train.Applicant_Gender.fillna("Applicant_GenderMissing",inplace=True)

In [24]:
d_train.Applicant_Gender.unique()

array(['M', 'F', 'Applicant_GenderMissing'], dtype=object)

In [25]:
d_train.Applicant_Qualification.fillna("Others",inplace=True)

In [26]:
d_train.Applicant_Qualification.unique()

array(['Graduate', 'Class XII', 'Class X',
       'Masters of Business Administration', 'Others',
       'Associate/Fellow of Institute of Company Secretories of India',
       'Associate / Fellow of Institute of Chartered Accountans of India',
       'Associate/Fellow of Insurance Institute of India',
       'Associate/Fellow of Acturial Society of India',
       'Certified Associateship of Indian Institute of Bankers',
       'Professional Qualification in Marketing'], dtype=object)

In [27]:
d_train.loc[(d_train['Applicant_Qualification']=='Associate/Fellow of Institute of Company Secretories of India' )
        | (d_train['Applicant_Qualification']==
        'Associate/Fellow of Institute of Institute of Costs and Works Accountants of India'),'Applicant_Qualification'] ='Associate / Fellow of Institute of Chartered Accountans of India'

In [28]:
d_train.Applicant_Qualification.unique()

array(['Graduate', 'Class XII', 'Class X',
       'Masters of Business Administration', 'Others',
       'Associate / Fellow of Institute of Chartered Accountans of India',
       'Associate/Fellow of Insurance Institute of India',
       'Associate/Fellow of Acturial Society of India',
       'Certified Associateship of Indian Institute of Bankers',
       'Professional Qualification in Marketing'], dtype=object)

In [29]:
d_train.Manager_Gender.fillna("Manager_GenderMissing",inplace=True)

In [30]:
d_train.Manager_Gender.unique()

array(['M', 'F', 'Manager_GenderMissing'], dtype=object)

In [31]:
d_train.Manager_Status.fillna("Manager_StatusMissing",inplace=True)

In [32]:
d_train.Manager_Status.unique()

array(['Confirmation', 'Manager_StatusMissing', 'Probation'], dtype=object)

In [33]:
d_train['Applicant_Age'] = pd.to_numeric(((pd.to_datetime(d_train['Application_Receipt_Date'])-(pd.to_datetime(d_train['Applicant_BirthDate'])))/ np.timedelta64(1, 'D'))/365)

In [34]:
d_train['Applicant_Age'].dtypes

dtype('float64')

In [35]:
d_train['Manager_Experience'] = pd.to_numeric(((pd.to_datetime(d_train['Application_Receipt_Date'])-(pd.to_datetime(d_train['Manager_DOJ'])))/ np.timedelta64(1, 'D'))/365)

In [36]:
d_train['Manager_Experience'].dtypes

dtype('float64')

In [37]:
d_train['Manager_Age'] = pd.to_numeric(((pd.to_datetime(d_train['Application_Receipt_Date'])-(pd.to_datetime(d_train['Manager_DoB'])))/ np.timedelta64(1, 'D'))/365)

In [38]:
d_train['Manager_Age'].dtypes

dtype('float64')

In [39]:
d_train['Applicant_Age'].isnull().sum()

73

In [40]:
d_train['Manager_Joining_Designation']=d_train['Manager_Joining_Designation'].map(lambda x:float(str(x)[-1]) if (str(x)[-1]!='n')& (str(x)[-1]!='r') else float('nan'))
d_train['Manager_Current_Designation']=d_train['Manager_Current_Designation'].map(lambda x:float(str(x)[-1]) if (str(x)[-1]!='n')& (str(x)[-1]!='r') else float('nan'))

In [41]:
d_train['Manager_Joining_Designation']

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
9522    2.0
9523    NaN
9524    2.0
9525    3.0
9526    NaN
Name: Manager_Joining_Designation, Length: 9527, dtype: float64

In [42]:
d_train['Manager_Current_Designation']

0       2.0
1       2.0
2       1.0
3       3.0
4       1.0
       ...
9522    2.0
9523    NaN
9524    2.0
9525    3.0
9526    NaN
Name: Manager_Current_Designation, Length: 9527, dtype: float64

In [43]:
d_train['Manager_Promotion']=d_train['Manager_Current_Designation']-d_train['Manager_Joining_Designation']

In [44]:
d_train['Manager_Promotion']

0       1.0
1       1.0
2       0.0
3       2.0
4       0.0
       ...
9522    0.0
9523    NaN
9524    0.0
9525    0.0
9526    NaN
Name: Manager_Promotion, Length: 9527, dtype: float64

In [45]:
d_train['PinDifference'] =abs(d_train['Office_PIN']-d_train['Applicant_City_PIN'])

In [46]:
d_train['PinDifference']

0        2119.0
1        2110.0
2       44100.0
3           0.0
4        1239.0
         ...
9522       15.0
9523      201.0
9524        2.0
9525     3755.0
9526        0.0
Name: PinDifference, Length: 9527, dtype: float64

In [47]:
#Test dataset
d_test.Applicant_Occupation.fillna("Others",inplace=True)

In [48]:
d_test.Applicant_Marital_Status.fillna("Applicant_Marital_StatusMissing",inplace=True)

In [49]:
d_test.Applicant_Gender.fillna("Applicant_GenderMissing",inplace=True)

In [50]:
d_train.Applicant_Qualification.fillna("Others",inplace=True)

In [51]:
d_test.loc[(d_test['Applicant_Qualification']=='Associate/Fellow of Institute of Company Secretories of India' )
        | (d_test['Applicant_Qualification']==
        'Associate/Fellow of Institute of Institute of Costs and Works Accountants of India'),'Applicant_Qualification'] ='Associate / Fellow of Institute of Chartered Accountans of India'

In [52]:
d_test.Manager_Gender.fillna("Manager_GenderMissing",inplace=True)

In [53]:
d_test.Manager_Status.fillna("Manager_StatusMissing",inplace=True)

In [54]:
d_test['Applicant_Age'] = pd.to_numeric(((pd.to_datetime(d_test['Application_Receipt_Date'])-(pd.to_datetime(d_test['Applicant_BirthDate'])))/ np.timedelta64(1, 'D'))/365)

In [55]:
d_test['Manager_Experience'] = pd.to_numeric(((pd.to_datetime(d_test['Application_Receipt_Date'])-(pd.to_datetime(d_test['Manager_DOJ'])))/ np.timedelta64(1, 'D'))/365)

In [56]:
d_test['Manager_Age'] = pd.to_numeric(((pd.to_datetime(d_test['Application_Receipt_Date'])-(pd.to_datetime(d_test['Manager_DoB'])))/ np.timedelta64(1, 'D'))/365)

In [57]:
d_test['Manager_Joining_Designation']=d_test['Manager_Joining_Designation'].map(lambda x:float(str(x)[-1]) if (str(x)[-1]!='n')& (str(x)[-1]!='r') else float('nan'))
d_test['Manager_Current_Designation']=d_test['Manager_Current_Designation'].map(lambda x:float(str(x)[-1]) if (str(x)[-1]!='n')& (str(x)[-1]!='r') else float('nan'))

In [58]:
d_test['Manager_Promotion']=d_test['Manager_Current_Designation']-d_test['Manager_Joining_Designation']

In [59]:
d_test['PinDifference'] =abs(d_test['Office_PIN']-d_test['Applicant_City_PIN'])

In [60]:
d_test.isnull().sum()

ID                               0
Office_PIN                       0
Application_Receipt_Date         0
Applicant_City_PIN              34
Applicant_Gender                 0
Applicant_BirthDate             23
Applicant_Marital_Status         0
Applicant_Occupation             0
Applicant_Qualification         44
Manager_DOJ                    824
Manager_Joining_Designation    824
Manager_Current_Designation    824
Manager_Grade                  824
Manager_Status                   0
Manager_Gender                   0
Manager_DoB                    824
Manager_Num_Application        824
Manager_Num_Coded              824
Manager_Business               824
Manager_Num_Products           824
Manager_Business2              824
Manager_Num_Products2          824
Applicant_Age                   23
Manager_Experience             824
Manager_Age                    824
Manager_Promotion              824
PinDifference                   34
dtype: int64

In [61]:
train_one_hot_encode = d_train[['Applicant_Gender','Applicant_Marital_Status','Applicant_Occupation', 'Applicant_Qualification' ,
                         'Manager_Gender','Manager_Status']]

In [62]:
train_encoded = pd.get_dummies(train_one_hot_encode,drop_first=True)

In [63]:
train_encoded.shape

(9527, 23)

In [64]:
train_data = pd.concat([d_train,train_one_hot_encode],axis=1)

In [65]:
train_data.shape

(9527, 34)

In [66]:
train_data = train_data.drop(train_one_hot_encode,1)

In [67]:
train_data.shape

(9527, 22)

In [68]:
test_one_hot_encode = d_test[['Applicant_Gender','Applicant_Marital_Status','Applicant_Occupation', 'Applicant_Qualification' ,
                         'Manager_Gender','Manager_Status']]

In [69]:
test_encoded = pd.get_dummies(test_one_hot_encode,drop_first=True)

In [70]:
test_encoded.shape

(5045, 20)

In [71]:
test_data = pd.concat([d_test,test_one_hot_encode],axis=1)

In [72]:
test_data.shape

(5045, 33)

In [73]:
test_data = test_data.drop(test_one_hot_encode,1)

In [74]:
test_data.shape

(5045, 21)

In [75]:
train_data = train_data.fillna(-1)

In [76]:
test_data = test_data.fillna(-1)

In [77]:
train_data.isnull().sum()

ID                             0
Office_PIN                     0
Application_Receipt_Date       0
Applicant_City_PIN             0
Applicant_BirthDate            0
Manager_DOJ                    0
Manager_Joining_Designation    0
Manager_Current_Designation    0
Manager_Grade                  0
Manager_DoB                    0
Manager_Num_Application        0
Manager_Num_Coded              0
Manager_Business               0
Manager_Num_Products           0
Manager_Business2              0
Manager_Num_Products2          0
Business_Sourced               0
Applicant_Age                  0
Manager_Experience             0
Manager_Age                    0
Manager_Promotion              0
PinDifference                  0
dtype: int64

In [78]:
test_data.isnull().sum()

ID                             0
Office_PIN                     0
Application_Receipt_Date       0
Applicant_City_PIN             0
Applicant_BirthDate            0
Manager_DOJ                    0
Manager_Joining_Designation    0
Manager_Current_Designation    0
Manager_Grade                  0
Manager_DoB                    0
Manager_Num_Application        0
Manager_Num_Coded              0
Manager_Business               0
Manager_Num_Products           0
Manager_Business2              0
Manager_Num_Products2          0
Applicant_Age                  0
Manager_Experience             0
Manager_Age                    0
Manager_Promotion              0
PinDifference                  0
dtype: int64

In [79]:
train_data = train_data.drop(['Applicant_City_PIN','Applicant_BirthDate','Application_Receipt_Date','Manager_Business2','Manager_DOJ',
                      'Manager_DoB','Manager_Num_Products'],axis=1)

In [80]:
test_data = test_data.drop(['Applicant_City_PIN','Applicant_BirthDate','Application_Receipt_Date','Manager_Business2','Manager_DOJ',
                      'Manager_DoB','Manager_Num_Products'],axis=1)

In [81]:
ntrain_data = train_data.drop(['ID'],axis=1)

# Model Building

In [82]:
train_a=ntrain_data[:7621]
train_b=ntrain_data[7621:]

In [83]:
print(train_a.shape)
print(train_b.shape)

(7621, 14)
(1906, 14)

In [84]:
x_train = train_a.drop(['Business_Sourced'],axis=1 )
y_train = train_a.Business_Sourced.copy()
x_test = train_b.drop(['Business_Sourced'],axis=1 )
y_test = train_b.Business_Sourced.copy()

In [85]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier

#reg = DecisionTreeRegressor(random_state=0)

from sklearn.ensemble import GradientBoostingClassifier
clf=GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0).fit(x_train, y_train)
#clf = RandomForestClassifier(n_estimators=500)
clf.fit(x_train,y_train)
pred = clf.predict(x_test)

In [86]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
dt_roc_auc = roc_auc_score(y_test, pred)
print(dt_roc_auc)

0.5198134622976708

In [87]:

from sklearn.ensemble import GradientBoostingClassifier
clf2 = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0).fit(x_train, y_train)

pred2 = clf2.predict(x_train)

from sklearn.metrics import accuracy_score
print("Accuracy Score = ",accuracy_score(y_train, pred2))

Accuracy Score =  0.6841621834404934

In [95]:
#Random Forest

 

from sklearn.ensemble import RandomForestClassifier as rf
rf_model = rf(ccp_alpha=0, criterion='entropy', max_depth=10,
                       max_leaf_nodes=97, random_state=10,class_weight='balanced')

 

# fitting the model
rf_model.fit(x_train,y_train)

 

# make training prediction
train_yhat = rf_model.predict(x_train)
train_score = accuracy_score(y_train, train_yhat)

 

# make test prediction
test_yhat = rf_model.predict(x_test)
test_score = accuracy_score(y_test, test_yhat)

 

train_score, test_score

(0.734680488124918, 0.5650577124868835)

In [94]:
print(roc_auc_score(y_test,test_yhat))

0.5413423758765251